*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  min-height: 100vh;
  background: #f7f8fb;
  font-size: 14px;
  color: #8a8a8c;
  line-height: 1.56;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #464649;
}
#root {
  max-width: 1200px;
  margin: 0 auto;
}
